/*
 * SPDX-FileCopyrightText: syuilo and misskey-project
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

html {
	background-color: var(--bg);
	color: var(--fg);
}

#splash {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	cursor: wait;
	background-color: var(--bg);
	opacity: 1;
	transition: opacity 0.5s ease;
}

#splashIcon {
	pointer-events: none;
}

#svgLogo {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	height: 15vw;
	min-height: 100px;
	max-height: 150px;
}

#splashSpinner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	display: inline-block;
	width: 28px;
	height: 28px;
	transform: translateY(min(max(12vw, 80px), 110px));
	stroke: var(--accent);
	transition: opacity 500ms;
	opacity: 0;
}
#splashSpinner.showing {
	opacity: 1;
}

#splashSpinner > .spinner {
	position: absolute;
	top: -1px;
	left: -1px;
	width: 28px;
	height: 28px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 1.5;
	stroke-width: 8px;
	transform-origin: center center;
	fill:none;
}
#splashSpinner > .spinner.bg {
	opacity: 0.275;
}
#splashSpinner > .spinner.fg {
	stroke-dasharray: 107;
	stroke-dashoffset: 0;
	animation: 2s linear 0s infinite backwards starStroke;
}

@keyframes starStroke {
	0% {
		stroke-dashoffset: 321;
	}
	100% {
		stroke-dashoffset: 107;
	}
}
