html {
	background-color: var(--bg);
	color: var(--fg);
}

#splash {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	cursor: wait;
	background-color: var(--bg);
	opacity: 1;
	transition: opacity 0.5s ease;
}

#splashIcon {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 64px;
	height: 64px;
	pointer-events: none;
}

#splashSpinner {
	position: absolute;
	display: flex;
	margin: auto;
	width: 180px;
	height: 180px;
	background-color: transparent;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#splashSpinner > .circle {
	opacity: 0;
	position: absolute;
	border-radius: 50%;
	border-color: var(--accent);
	border-style: solid;
}

#splashSpinner > .large-circle {
	width: 180px;
	height: 180px;
	border-width: 5px;
	animation: splashSpinner 4s linear .4s infinite, splashFadeIn 2s 1s forwards;
}

#splashSpinner > .medium-circle {
	width: 130px;
	height: 130px;
	border-width: 4px;
	filter: hue-rotate(-90deg);
	animation: splashSpinner 3s linear .2s infinite, splashFadeIn 2s 1s forwards;
}

#splashSpinner > .small-circle {
	width: 90px;
	height: 90px;
	border-width: 2px;
	filter: hue-rotate(180deg);
	animation: splashSpinner 2s linear 0s infinite, splashFadeIn 2s 1s forwards;
}

@keyframes splashSpinner {
	0% {
		transform: rotate3d(.9, 1.2, 1.1, 360deg);
	}
	100% {
		transform: rotate3d(360deg);
	}
}

@keyframes splashFadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
